<!-- Week picker -->
<mat-card fxLayout="row" fxLayoutAlign="space-between">
	<div fxLayout="column" fxFlex="25%"></div> <!-- Pushes the buttons into the middle-->
	<mat-card fxLayout="column" fxFlex="20%" appearance="outline">
		<mat-form-field>
			<input matInput [matDatepicker]="picker" placeholder="Choose a date" [value]="startDate.value"
				(dateInput)="initializeWeekRange($event)">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker [startAt]="endDate"></mat-datepicker>
		</mat-form-field>
	</mat-card>

	<!-- Save changes button -->
	<mat-card fxLayout="column" fxFlex="20%" appearance="outline">
		<button mat-raised-button>
			Do nothing
			<mat-icon> done </mat-icon>
		</button>
		<!-- Download pdf button-->
		<button mat-raised-button (click)="downloadPDF()">
			Download pdf
			<mat-icon> cloud_download </mat-icon>
		</button>
	</mat-card>
	<div fxLayout="column" fxFlex="25%"></div> <!-- Pushes the buttons into the middle-->
</mat-card>

<!-- Week browser -->
<mat-card>
	<mat-card fxLayout="column" fxFlex="70%" appearance="outline">
		<mat-tab-group id="html2Pdf" animationDuration="300ms">
			  

			<!-- Tabs containing days of week	-->
			<mat-tab color="primary" *ngFor="let day of days;let dayIndex=index" [label]=" day">
				<ng-template matTabContent>
					<div fxLayout="row" fxLayoutAlign="space-between">
						<!-- Time title-row -->
						<div fxLayout="column" class="grid-element" fxFlex="0 1 70">
							<h3>Time</h3>
						</div>
						<!-- Positions title-row-->
						<div class="fontClass" fxLayout="column" class="grid-element" *ngFor="let position of currentPositions" fxFlex="0 1 70" >
							<h3 class="fontClass" >{{position}}</h3>
						</div>
					</div>
					<!-- Time Column -->
					<div class="fontClass" fxLayout="row" *ngFor="let time of times; let timeIndex=index; let even = even"
						fxLayoutAlign="space-between">
						<div fxLayout="column"  class="grid-element" appearance="outline"  fxFlex="0 1 70"
							[class.evenBackgroundColor]=" even ">
							{{time  |  date:'HH:mm' }}
						</div>

						<!-- Position data columns-->
						<div  class="gridStyle" class="fontClass"  class="grid-element"  fxLayout="column" *ngFor="let position of currentPositions; let positionIndex=index; "
							matTooltip="{{time |  date:'HH:mm'}}" matTooltipPosition="above" 
							fxFlex="0 1 70" [class.evenBackgroundColor]="even"
							(mouseenter)="onHover(dayIndex, timeIndex, positionIndex, true)"
							(mouseleave)="onHover(dayIndex, timeIndex, positionIndex, false)"
							
							[class.buttonLikeClass]="currentWeekDom[dayIndex][timeIndex][positionIndex]['hovering'] === true" 
							
							(click)="addEmployee(dayIndex, timeIndex, positionIndex, currentWeekDom[dayIndex][timeIndex][positionIndex]['alias'])">
							<div *ngIf="currentWeekDom[dayIndex][timeIndex][positionIndex]['alias'] !== ''" >
								{{currentWeekDom[dayIndex][timeIndex][positionIndex]['alias']}}
								<button
									mat-icon-button
									(click)="deleteEmployee(dayIndex, timeIndex, positionIndex, currentWeekDom[dayIndex][timeIndex][positionIndex]['id']);$event.stopPropagation()"
									*ngIf="currentWeekDom[dayIndex][timeIndex][positionIndex]['hovering'] === true" > 
									<mat-icon class="deleteIcon" color="warn" >clear</mat-icon>  <!--Edit this one to change size of the icon-->
								</button>
							</div>
						</div>
					</div>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</mat-card>

	<!-- Show employees component -->
	<div fxLayout="column" fxFlex="29%" appearance="outline">
		<mat-card appearance="outline" fxLayout="column" fxFlex="29%" appearance="outline">
			<mat-card-content>
				This will need to have a sorting selection!
				<mat-accordion>
					<mat-expansion-panel *ngFor="let user of users; let i = index" (opened)="panelOpenState = true"
						(closed)="panelOpenState = false">
						<mat-expansion-panel-header>
							<mat-panel-title>
								{{user.name  | titlecase}}
							</mat-panel-title>
							<mat-panel-description>
								{{userHours[user._id]}}
							</mat-panel-description>
						</mat-expansion-panel-header>
						<mat-form-field>
							<input matInput placeholder="Here should be the edit hours">
						</mat-form-field>
						<mat-form-field>
							<input matInput placeholder="Here should be the edit hours">
						</mat-form-field>
					</mat-expansion-panel>
				</mat-accordion>
			</mat-card-content>
		</mat-card>
	</div>
</mat-card>