mat-grid-tile {
          background: lightblue;
        }


.grid-element{
 
  border-right: solid 1px lightslategray;
  border-bottom: solid 1px  lightslategray;
  border-left: solid 1px  rgba(0, 0, 0, 0.181);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 90%;
  align-items: center;

 

}