<h1 mat-dialog-title>Add employees to schedule :-)</h1>     
<div mat-dialog-content fxLayout="row" fxLayoutAlign="space-between"> 
	<mat-card fxLayout="column" fxFlex="48%" appearance ="outline">
		<div fxLayout="row" fxLayoutAlign="space-between">
			<form [formGroup]="form" novalidate>
					<mat-form-field >
						<mat-label>Starting hour</mat-label>
						<input 
						matInput 
						placeholder="Shift start time" 
						formControlName="fromTime" 
						required>
					</mat-form-field>
					<mat-form-field >
						<mat-label>Ending hour</mat-label>
						<input matInput placeholder="Shift end time" formControlName="toTime" required>
					 </mat-form-field>
					 <mat-form-field>
							<mat-label>Employee</mat-label>
							<mat-select>
							  <mat-option *ngFor="let employee of employees" [value] = "employee.name">
								{{employee.name + ' ' + employee.surname}}
							  </mat-option>
							</mat-select>
						  </mat-form-field>
				</form>
				<button (click)="debug()"></button>
		</div> 
			<div fxLayout="row" fxLayoutAlign="space-between">
					<div fxLayout="column" fxFlex="48%" appearance ="outline">
							<button 
							mat-button  
							(click)="onNoClick()" 
							class="material-icons">
							<i class="material-icons">
								cancel
							</i>
							</button>
					</div>
					<div fxLayout="column" fxFlex="48%" appearance ="outline">
							<button 
							mat-button 
							(click)="onNoClick()" 
							class="material-icons">
							<i class="material-icons">
								done
							</i>
						</button>
					</div>
		
				</div>

	</mat-card>
	<mat-card fxLayout="column" fxFlex="48%" appearance ="outline">
			<mat-chip-list class="mat-chip-list-stacked">
					<!-- <mat-chip *ngFor="let chip of availableColors" selected [color]="chip.color"> -->
					<mat-chip>
					  +1h
					</mat-chip>
					<mat-chip>
						+2h
					</mat-chip>
					<mat-chip>
						+3h
					</mat-chip>
					 <mat-chip>
						+4h
					</mat-chip>
				  </mat-chip-list>


	</mat-card>
</div>