
<mat-card fxLayout="row" fxLayoutAlign="space-between">
		<!-- Renders Employee list component -->
    <div fxLayout="column" fxFlex="15%" appearance ="outline">
		<app-employee-lister></app-employee-lister>  
	</div>
		<!-- Renders Employee info component -->
	<div fxLayout="column" fxFlex="15%" appearance ="outline">
			<app-employee-info ></app-employee-info>
	</div>

	  	<!-- Renders Schedule-viewer component -->
	<div fxLayout="column" fxFlex="65%" appearance ="outline">
		<app-schedule-viewer ></app-schedule-viewer>
	</div>
</mat-card>