<mat-nav-list>
  <a mat-list-item routerLink="/schedule" (click)="onSidenavClose()">
      <mat-icon>schedule</mat-icon> <span class="nav-caption">Schedule</span>
  </a>
  <hr>
  <a mat-list-item routerLink="/reports" (click)="onSidenavClose()">
      <mat-icon>view_list</mat-icon> <span class="nav-caption">Reports</span>   
  </a>
  <hr>
  <a mat-list-item routerLink="/settings" (click)="onSidenavClose()">
    <mat-icon>settings</mat-icon> <span class="nav-caption">Settings</span>   
  </a>
  <hr>
  <a *ngIf="isLoggedIn()" mat-list-item (click)="logout(); onSidenavClose()">
    <mat-icon>logout</mat-icon> <span class="nav-caption">Logout</span>   
  </a>
</mat-nav-list>