/*
mat-card-content{
          display: flex;
          justify-content: center;
          align-items: center;
}
mat-card-header{
          display: flex;
          justify-content: center;
          align-items: center;

}
mat-card-actions{
          display: flex;
          justify-content: center;
          align-items: center;
}

mat-list{
          padding: 2%;
         
         
}

*/

mat-list-item{
          padding: 10%;
          margin: 2%;
}


.radioGroup{
          display: inline-flex;
          flex-direction: column; 
          padding: 10%;       
}

.radioButton{
          padding: 5%;
}